@import url("https://fonts.google.com/specimen/Fredoka+One");

.App {
  text-align: center;
}

body {
  background-color: darkgrey;
  position: relative;
  text-align: center;
  background: url("./images/hiking-5.jpg") no-repeat;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-size: large;
}
.container {
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 10px;
  text-align: center;
  height: 100px;
}

.child {
  position: absolute;
  height: 35px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkseagreen;
}
ul {
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #333;
}

button {
  padding: 5px 15px;
  background-color: darksalmon;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  background-color: white;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}
.grid-card {
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 10px;;
  text-align: left;
  background-color: #f1f1f1;
}
.card-title {
  display: flex;
  justify-content: space-around;
}
.card-detail {
  display: flex;
  justify-content: space-around;
  border-bottom: solid grey;
  /* border-bottom: solid black; */
}
.card-difficulty {
  margin-top: 5px;
}

span {
  color: blue;
}

