@import url("https://fonts.google.com/specimen/Fredoka+One");

.App {
  text-align: center;
}
header {
  background: url("./images/hikingHeader2.jpg");
  height: 250px;
  color: white;
  margin-top: -30px;
}
.search-container {
  margin-top: 30px;
}

body {
  text-align: center;
  font-size: 12px;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #333;
}

button {
  padding: 5px 15px;
  background-color: darksalmon;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
}
img {
  border-radius: 10px;
}

.grid-container {
  display: grid;
  background-color: white;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}
.grid-item {
  text-align: left;
  padding-right: 5px;
}

/* Float four columns side by side */
.column {
  float: left;
  padding: 0 10px;
  max-width: 300px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #f1f1f1;
}
.card-title {
  display: flex;
  justify-content: space-around;
}
.card-detail {
  display: flex;
  justify-content: space-around;
  border-bottom: solid grey;
}